body {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    background-color: black;
    color: #FFFFFF
}

header {
    width: 100%;
    height: 765px;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 100%); 
        background-image: url('../resources/header2x.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0%;
}
    
header section {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    border: dashed 1px yellowgreen;
}
    
.header-menu {
    margin: 27px 124px auto 123px;
    height: 55px;
    border: solid 1px yellow;
}

.header-menu p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-transform: lowercase;
    color: #FFFFFF
}

p.header-mid {
    position: absolute;
    left: 125px;
    bottom: 325px;
    max-width: 430px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
    background-color: transparent;

}

h1.header-bottom {
    position: absolute;
    left: 118px;
    bottom: 89px;
    max-width: 919px;
    font-size: 80px;
    line-height: 70px;
    /* or 88% */
    letter-spacing: -0.03em;
    color: #1BFF07;
    background-color: transparent;
}




section {
    margin: 0 auto;
    width: 1400px;
    border: dashed 1px red;
}














main {
    margin: 0;
    border: solid 1px #FFFFFF;
}

footer {
    margin: 0;
    border: solid 1px #FFFFFF;
    font-family: 'Manrope', sans-serif; 
}